@model BoardGameRegime.Models.Game

@{
    ViewBag.Title = "Game";
}

<h2>Play this!!</h2>

<div ="row">
    <div class="col-md-3">
        <h3>@Model.Title</h3>

        <p>Plays up to @Model.MaxPlayer</p>
        <p>@Model.GameLength minutes</p>
        <p>It has a complexity of @Model.Complexity</p>

        <p>@Html.ActionLink("Try Again", "Index", "Dictator")</p>
    </div>
    <div class="col-md-3">
        <img src="~/Robots/BGRgaddafi.jpg" />
    </div>
</div>
