@model BoardGameRegime.Models.Picker

@{
    ViewBag.Title = "Dictator";
}

<h2>Welcome comrade</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <h4>It's time for your mission...</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>How much time do you have? @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })</p>
            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <p>How many people are playing? @Html.EditorFor(model => model.Players, new { htmlAttributes = new { @class = "form-control" } })</p>
            @Html.ValidationMessageFor(model => model.Players, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <p>How complex a game do you want to play? @Html.EditorFor(model => model.Complexity, new { htmlAttributes = new { @class = "form-control", @Value = 0, min = 0, max = 5 } })</p>
            @Html.ValidationMessageFor(model => model.Complexity, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <p><input type="submit" value="Your game is..." class="btn btn-default" /></p>
        </div>

    </div>
}

