@model BoardGameRegime.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Game</h4>
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GameLength)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GameLength)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Publisher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Designer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Designer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MinPlayer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MinPlayer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MaxPlayer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaxPlayer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RecPlayer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RecPlayer)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mechanism)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mechanism)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Theme)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Theme)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Complexity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Complexity)
                </dd>

            </dl>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }

        </div>
    </div>
    <div class="col-md-2">
        <img src="~/Robots/BGRKahn.jpg" />
    </div>
</div>
